\.ipynb_checkpoints
02b_Modelos_lineales_de_aprendizaje_supervisado.ipynb
A01_Modelos_de_pronóstico_en_el_sector_inmobiliario_de_Bogotá.ipynb
Bayes+ML.ipynb
Python_Crash_Course.ipynb
Python_Crash_Course_Exercises.ipynb
Regresión_Logística.ipynb
Solución_parcial_A01_Modelos_de_pronóstico_en_el_sector_inmobiliario_de_Bogotá.ipynb